challenge/syntheticEHR/data/daae_generated_diabetes_patients_camda_gen3_preprocessed.json
challenge/syntheticEHR/data/daae_generated_diabetes_patients_camda_gen3.json
challenge/syntheticEHR/miic_graph/input/matriz_comorbilidad_filtrada.csv
challenge/syntheticEHR/miic_graph/input/matriz_comorbilidad_clean.csv
challenge/syntheticEHR/miic_graph/input/variables_eliminadas.csv
challenge/syntheticEHR/miic_graph/output/miic_grafo.graphml